<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- A template for showing an invoice in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href='https://printjs-4de6.kxcdn.com/print.min.css' rel='stylesheet'>
    
    
    <script src="invoice.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="invoice.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out invoice</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled invoice</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="invoice">
        <div class="top">
          <div class="supplier" style="text-align: left;" >
            <img style="margin-left: -4%; margin-bottom: 2%;" src="mc-log.png" width="250" />
            <div v-for="business in (invoice.Invoicer ? [invoice.Invoicer] : [])" style=" display: flex;flex-direction: column; gap:5px;">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address" style="display: flex;flex-direction: column; gap: 5px;">
                <div style="font-size: 15px;">54 west 47th Street</div>
                <div style="font-size: 15px;">Suite 5R</div>
                <div style="font-size: 15px;">New York, NY, 10036</div>
                  <div style="font-size: 15px;" class="phone">9145089314</div>
                  <div style="font-size: 15px;" class="email">ceyda.t@monacochain.com</div>
                  <div style="font-size: 15px;" class="website"><a v-bind:href="business.Url" style="text-transform: none;">monacochainwholesale.com</a></div>
                </div>
              </template>
            </div>
          </div>
          <div class="block">
            <div style="margin-top: 64px;">
              <div class="meta title" v-if="invoice.Number.includes('MC')">Invoice</div>
              <div class="meta title" v-else-if="invoice.Number.includes('D')">Draft-Invoice</div>
              <div class="info"><span class="meta">ORDER NO</span> #{{ invoice.Number }}</div>
              <div class="info" v-if="invoice.Issued"><div class="meta date-tag">ORDER DATE</div>{{ invoice.Date | asDate }}</div>
            </div>
            <div class="client" v-for="business in (invoice.Client ? [invoice.Client] : [])" style="margin-bottom: 15%;"> 
              <div class="title" style="margin-left: 0;">Client</div>
              <div class="details" style="display: flex; flex-direction: column; gap: 5px; font-size:15px; padding: 0;">
                <template v-if="typeof(business) === 'string'">
                  <div class="newlined">{{ business }}</div>
                </template>
                <template v-else>
                  <div>{{ business.Contact_Name }}</div>
                  <div>{{ business.Business_Name }}</div>
                  <template v-if="business.Street1">
                    {{ business.Address_1 }},
                  </template>
                  <template v-if="business.Street2">
                    {{ business.Address_2 }},
                  </template>
                 <span>{{ business.City }}, {{ business.State }}, {{ business.Zip_Code }}</span> 
                  <template v-if="business.Country">
                    <span>{{ business.Country }}</span>
                  </template>
                </template>
              </div>
            </div>
          </div>
        </div>
        


        <table class="items">
          <template v-if="!Array.isArray(invoice.Items)">
            <tr>
              <th>Description</th>
              <th class="money">Total</th>
            </tr>
            <tr>
              <td>{{ invoice.Items }}</td>
              <td class="money">{{ invoice.Total | currency }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <th style="font-weight: bold;">IMG</th>
              <th style="font-weight: bold;" class="number">KARAT</th>
              <th style="font-weight: bold;">Description</th>
              <th style="font-weight: bold;">TYPE</th>
              <th style="font-weight: bold;" class="number">PCS</th>
              <th v-if="invoice.Number.includes('MC')" style="font-weight: bold;" class="number">WEIGHT (GR)</th>
              <th v-else-if="invoice.Number.includes('D')" style="font-weight: bold; font-size: 11px;" class="number">ESTIMATED WEIGHT (GR)</th>
              
              <th style="font-weight: bold;" class="number">LABOR/GR</th>
              
              <th v-if="invoice.Number.includes('MC')" style="font-weight: bold;" class="money">LABOR</th>
              <th v-else-if="invoice.Number.includes('D')" style="font-weight: bold; font-size: 11px;" class="money">ESTIMATED LABOR</th>
              
              <th v-if="invoice.Number.includes('MC')" style="font-weight: bold;" class="money">GOLD</th>
              <th v-else-if="invoice.Number.includes('D')" style="font-weight: bold; font-size: 11px;" class="money">ESTIMATED GOLD</th>
              
              <th v-if="invoice.Number.includes('MC')" style="font-weight: bold;" class="money">TOTAL</th>
              <th v-else-if="invoice.Number.includes('D')" style="font-weight: bold; font-size: 11px;" class="money">ESTIMATED TOTAL</th>
              
            </tr>
            <tr v-for="(item, index) in invoice.Items">
              <td class="img" style="padding:4px;">
                <img :class="'img-' + index" :style="item.Type === 'Ring' || item.Type === 'Earring' ? 'height: 110px;' : ''" />
              <td class="number">{{ item.Karat }}</td>
              <td class="item-t" style="padding:5px;">{{ item.Description }}  <br><br>
                <small v-if="item.Type === 'Ring'" style="font-size: 12px; font-weight: bold;">
                  {{ item.options }}
                </small>
                <small v-else-if="item.Type !== 'Ring' && item.Type !== 'Earring' && item.Type !== 'Half Set' && item.Type !== 'Pendant'" style="font-size: 12px; font-weight: bold;">
                  {{ optionsList(item)[0] }} | {{ optionsList(item)[1] }}
                </small>
              <td class="item-t" id="type">{{ item.Type }}</td>
              <td class="number">{{ item.Quantity }}</td>
              <td class="money">{{ item.Weight }}</td>
              <td class="money">{{ item.Labor_Gr | currency }}</td>
              <td class="money">{{ item.Labor | currency }}</td>
              <td class="money">{{ item.Gold | currency }}</td>
              <td class="money">{{ item.Total | currency }}</td>
            </tr>
          </template>
        </table>
        <div style="border: 1px solid black;display: flex;gap: 12%; padding: 10px; page-break-before: always;">
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="font-weight: bold;">FIX OZ</span> <span>{{ invoice.Sold_Fix_Oz | currency }}</span> </div>
          <span style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: -5%;
          margin-right: -5%;">+</span>
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="font-weight: bold;">PREMIUM</span> <span>{{ invoice.Sold_Fix_Oz_Premium | currency }}</span> </div>
          <div style="width: 35%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="text-align: center; font-weight: bold;">TOTAL FIX GOLD/OZ</span><span> {{ invoice.Sold_Fix_Oz_Total | currency }}</span> </div>
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="font-weight: bold;">DATE</span><span> {{ invoice.Date | asDateM }}</span></div>
        </div>

<div class="overview-grid" v-for="(overview, index) in Object.entries(groupedItems)" :key="index" :style="{ border: `1px solid ${borderColors[index % borderColors.length]}` }">
  <div class="overview-item single" v-if="invoice.Number.includes('MC')">
    <div class="overview-title" style="width: 770px;">{{ overview[0] }} OVERVIEW</div>
    <div class="overview-items">TOTAL WEIGHT (gr) <span>{{ overview[1].totalWeight | round }}</span></div>
    <div class="overview-items">GOLD/GR <span>${{ overview[1].goldPerGram | round }}</span></div>
    <div class="overview-items">TOTAL GOLD <span>{{ overview[1].totalGoldPrice | currency }}</span></div>
    <div class="overview-items">TOTAL LABOR <span>{{ overview[1].totalLabor | currency }}</span></div>
    <div class="overview-items last">{{ overview[0] }} TOTAL PRICE <span>{{ overview[1].totalPrice | currency }}</span></div>
  </div>
  <div class="overview-item single" v-else-if="invoice.Number.includes('D')" style="font-size: 11px;">
    <div class="overview-title" style="width: 770px;">ESTIMATED {{ overview[0] }} OVERVIEW</div>
    <div class="overview-items">ESTIMATED WEIGHT (gr) <span>{{ overview[1].totalWeight | round }}</span></div>
    <div class="overview-items">ESTIMATED GOLD/GR <span>${{ overview[1].goldPerGram | round }}</span></div>
    <div class="overview-items">ESTIMATED GOLD <span>{{ overview[1].totalGoldPrice | currency }}</span></div>
    <div class="overview-items">ESTIMATED LABOR <span>{{ overview[1].totalLabor | currency }}</span></div>
    <div class="overview-items last">ESTIMATED {{ overview[0] }} TOTAL PRICE <span>{{ overview[1].totalPrice | currency }}</span></div>
  </div>
  <table class="overview-item single" style="font-size: 14px; margin-top: 1%;">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th style="padding-right: 5px;">QTY</th>
        <th style="padding-right: 0;">WEIGHT</th>
      </tr>
    </thead>
    <tbody style="line-height: 8.15px;">
      <tr>
        <td>Necklaces</td>
        <td></td>
        <td>{{ overview[1].NecklaceQty }}</td>
        <td style="padding-right: 0;">{{ overview[1].NecklaceWeight | round }}</td>
      </tr>
      <tr>
        <td>Bracelets</td>
        <td></td>
        <td>{{ overview[1].BraceletQty }}</td>
        <td style="padding-right: 0;">{{ overview[1].BraceletWeight | round }}</td>
      </tr>
      <tr>
        <td>Anklets</td>
        <td></td>
        <td>{{ overview[1].AnkletQty }}</td>
        <td style="padding-right: 0;">{{ overview[1].AnkletWeight | round }}</td>
      </tr>
      <tr>
        <td>Rings</td>
        <td></td>
        <td>{{ overview[1].RingQty }} </td>
        <td style="padding-right: 0;">{{ overview[1].RingWeight | round }} </td>
      </tr>
      <tr>
        <td>Earrings</td>
        <td></td>
        <td>{{ overview[1].EarringQty }}</td>
        <td style="padding-right: 0;">{{ overview[1].EarringWeight | round }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr style="height: 18px;">
        <td colspan="2" style="padding-left: 0; padding-top: 2px;">TOTAL</td>
        <td style="padding-right: 8px; padding-top: 2px; padding-left: 8px;">{{ overview[1].totalQty }}</td>
        <td style="padding-right: 0; padding-top: 2px; padding-left: 8px;">{{ overview[1].totalWeight | round }}</td>
      </tr>
    </tfoot>
  </table>
</div>

        <div class="overview grand" v-if="invoice.Number.includes('MC')" style="width: 800px;">
          <div class="overview-title">INVOICE GRAND TOTAL</div>
          <div class="overview-items grand">GRAND TOTAL WEIGHT (gr) <span> {{ grandTotalWeight | round }} </span></div>
          <div class="overview-items grand">GRAND TOTAL GOLD <span>{{ grandTotalGoldPrice | currency }} </span></div>
          <div class="overview-items grand">GRAND TOTAL LABOR <span>{{ grandTotalLabor | currency }} </span></div>
          <div class="overview-items grand">SHIPPING FEE <span>{{ invoice.Shipping_Cost | currency }} </span></div>
          <div class="overview-items grand last">GRAND TOTAL PRICE <span>{{ grandTotalPrice | currency }} </span></div>
        </div>
        <div class="overview grand" v-else-if="invoice.Number.includes('D')" style="width: 800px;">
          <div class="overview-title">ESTIMATED INVOICE GRAND TOTAL</div>
          <div class="overview-items grand">ESTIMATED GRAND TOTAL WEIGHT (gr) <span> {{ grandTotalWeight | round }} </span></div>
          <div class="overview-items grand">ESTIMATED GRAND TOTAL GOLD <span>{{ grandTotalGoldPrice | currency }} </span></div>
          <div class="overview-items grand">ESTIMATED GRAND TOTAL LABOR <span>{{ grandTotalLabor | currency }} </span></div>
          <div class="overview-items grand last">ESTIMATED GRAND TOTAL PRICE <span>{{ grandTotalPrice | currency }} </span></div>
        </div>

        <div class="overview payment">
          <div v-for="payment in groupedPayments" v-if="payment.Method && payment.Method !== '' && payment.Amount !== 0" class="overview-items" > 
            <span style="width:95px;">Payment</span>
            <span style="width:95px;">{{ payment.Date | asDateM }}</span>
            <span style="width:85px;">{{ payment.Method }}</span>
            <span style="text-align: right;
    width: 85px;">{{ payment.Amount | currency }}</span>
          </div>
        <div class="overview-items grand last" style="width: 37.5%;">Balance Due <span>{{ invoice.Balance | currency }} </span></div>
      </div>
      <span style="border-bottom: 1px solid black;display: block;font-weight: bold;margin-top: 5%;">PAYMENT OPTIONS</span>
      <div style="display:flex;margin-top: 15px;flex-direction: row;">
        <div class="payment-options" style="border-right: 1px solid black;"><span class="payment-options-title">WIRE</span>
        <div class="wire">
          <span class="wire_items" style="font-weight: bold;">{{ wireAccountList[0] }}</span>
          <span class="wire_items"><span style="font-weight: bold;">ACCOUNT #: </span> {{ wireAccountList[1] }}</span>
          <span class="wire_items"><span style="font-weight: bold;">ROUTING #: </span> {{ wireAccountList[2] }} (ELECTRONIC)</span>
          <span class="wire_items"><span style="font-weight: bold;">ROUTING #: </span> {{ wireAccountList[3] }} (WIRES)</span>
          <span class="wire_items"><span style="font-weight: bold;">SWIFT CODE: </span>{{ wireAccountList[4] }}</span>
        </div>
        </div>
        <div class="payment-options" style="border-right: 1px solid black;">
          <span class="payment-options-title" style="margin-left: 5%;">CHECK</span>
          <div class="wire">
            <span style="font-size: 13px; margin-left: 5%;">Payable to: <br>{{ invoice.Check }}</span>
          </div>
        </div>
        <div class="payment-options" style="border: none;">
          <span class="payment-options-title" style="margin-left: 5%;">ZELLE</span>
          <div class="wire" >
            <span style="font-size: 13px; margin-left: 5%;">{{ invoice.Zelle }}</span>
          </div>
          </div>
        </div>
  <div style="page-break-before: always;">
        <h3>DEPOSIT</h3>
        <ul>
            <li>A 25% deposit of the estimated value is required to place an order with the factory. <span style="color:red;">Please note:</span> your order will not be placed until the deposit is received. The deposit can be made through one of the following methods:</li>
            <ol>
                <li>Wire Transfer</li>
                <li>Check</li>
                <li>Zelle</li>
            </ol>
        </ul>
    
        <h3>ESTIMATED DELIVERY TIME</h3>
        <ul>
            <li>Delivery time is approximately 3-5 weeks. This may vary depending on the factory's workload especially as major holidays approach when the factory tends to get busier.</li>
        </ul>
    
        <h3>GOLD PRICE FIX</h3>
        <ul>
            <li>The gold price will be fixed once your order arrives at our New York office. You will be notified a day in advance of the price being "fixed."</li>
            <ul>
                <li><strong style="color:red;">Note:</strong> The gold price will not be fixed on the day you place your order unless you choose to pay the full amount upfront at the time of order placement.</li>
            </ul>
        </ul>
    
        <h3>ESTIMATED WEIGHT AND QUANTITY</h3>
        <ul>
            <li>The weight of your order is an estimate and the final weight may vary slightly. Additionally, in rare cases, the factory may not be able to fulfill the full quantity of items ordered.</li>
        </ul>
    
        <h3>FINAL PAYMENT</h3>
        <ul>
            <li>The remaining balance must be paid in full within 5 business days after your gold price is fixed. Failure to make the payment within this time frame will result in the cancellation of your order and your deposit will not be reimbursed.</li>
        </ul>
    
        <h3>SHIPPING</h3>
        <ul>
            <li>For orders over $15000, shipping is free. For orders under $15000, a shipping fee of $50 will be charged. We generally use UPS Next Day or BRINKS for shipping.</li>
            <ul>
                <li><strong style="color:red;">Note:</strong> We cannot control or guarantee specific delivery times nor can we manage delays or issues from the shipping service.</li>
            </ul>
        </ul>
    </div> 
        <div class="print">
          <a href="javascript:window.print()">Print</a>
        </div>
        <div class="print">
          <button @click="retryLoadingImagesWithButton" style="position: fixed;
          left: 2%;
          top: 5%;
          display: block;
          background-color: black;
          font-size: 14px;
          text-transform: uppercase;
          color: white;
          font-weight: bold;
          height: 35px;">Retry Loading Images</button>
        </div>
      
      </template>
    </div>
  </body>
</html>



